* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;    background-image: url('wood.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(224, 217, 217, 0.897), rgba(109, 96, 96, 0.521));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    font-family: 'Yanone Kaffeesatz', sans-serif;    
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid rgb(170, 130, 130);
    outline: none;
    background-color: rgba(207, 198, 198, 0.555);
    border-radius: 16px 0px 16px 0px;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color:  rgba(248, 248, 248, 0.555);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: rgb(156, 102, 102);
    font-size: 16px;
}

.current .temp {
    color: white;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0,0,0,0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: rgb(238, 200, 200);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4)
}

.current .feels-like {
    color: rgb(175, 152, 152);
    font-size: 30px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 1px 2px rgba(0,0,0,0.6);
}